<div class="card componentStyle">
    <div class="row">
        <div class="col-3">

        </div>
         
    <div class="card" style="width:800px;text-align: center;">
        <div class="card-header">
            <h1>your Enter page is  someting not  found</h1>
            </div>
            <div class="card-body">
                <img src="assets/rk.jpg">
                <img src="assets/caribou.jpg"><br>&nbsp;<br>
                <button class="btn btn-primary" [routerLinkActive]="'active'" [routerLink]= "'/login'">GO TO LOGIN </button>
                </div>
                <div class="card-footer">

               
        </div>
    </div>
           
      
    </div>
    </div>

