

<div class="row">
     <div class="col-4">

     </div>
     <div class="col-4">
        <div class="card">
            <div class="header" class="text-center">
               <h2> {{title}}</h2>
              </div>
              <div class="body">
               <div class="form-group">
                   <label><h3><b>Email</b></h3></label>
                   <input [ngModel]="email" type="text" name="email"  class="form-control">
               </div>
               <div class="form-group">
                <label><h3><b>password</b></h3></label>
                <input [ngModel]="password" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label><h3><b>Mobile</b></h3></label>
                <input [ngModel]="mobile"  type="text" class="form-control">
            </div>
              </div>
              <div class="footer">
                <div class="col-12">
                    <button class="btn btn-dimiss"  class="btn btn-danger float-end">Cancel</button>
                    <button type="submit" (click)="login()" class="btn btn-primary float-end ">Login</button>
                </div>
              </div>
            </div>
     </div>
</div>

